<a href="https://colab.research.google.com/github/SimeonHristov99/AI_PredictChurn_Adaboost/blob/main/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description: This notebook performs data cleaning, feature engineering and classification using Adaboost in order to predict the churn rate for the "churn rate" dataset.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
df = pd.read_csv('/content/training_data.csv') # Assuming it is preloaded in Google Colab
df.head()

   tenure   age  address  income   ed  ...  loglong  logtoll  lninc  custcat  churn
0    11.0  33.0      7.0   136.0  5.0  ...    1.482    3.033  4.913      4.0    1.0
1    33.0  33.0     12.0    33.0  2.0  ...    2.246    3.240  3.497      1.0    1.0
2    23.0  30.0      9.0    30.0  1.0  ...    1.841    3.240  3.401      3.0    0.0
3    38.0  35.0      5.0    76.0  2.0  ...    1.800    3.807  4.331      4.0    0.0
4     7.0  35.0     14.0    80.0  2.0  ...    1.960    3.091  4.382      3.0    0.0

[5 rows x 28 columns]

In [3]:
df.shape

(200, 28)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tenure    200 non-null    float64
 1   age       200 non-null    float64
 2   address   200 non-null    float64
 3   income    200 non-null    float64
 4   ed        200 non-null    float64
 5   employ    200 non-null    float64
 6   equip     200 non-null    float64
 7   callcard  200 non-null    float64
 8   wireless  200 non-null    float64
 9   longmon   200 non-null    float64
 10  tollmon   200 non-null    float64
 11  equipmon  200 non-null    float64
 12  cardmon   200 non-null    float64
 13  wiremon   200 non-null    float64
 14  longten   200 non-null    float64
 15  tollten   200 non-null    float64
 16  cardten   200 non-null    float64
 17  voice     200 non-null    float64
 18  pager     200 non-null    float64
 19  internet  200 non-null    float64
 20  callwait  200 non-null    float64
 21  confer    200 non-null    float64
 22  ebill     200 non-null    float64
 23  loglong   200 non-null    float64
 24  logtoll   200 non-null    float64
 25  lninc     200 non-null    float64
 26  custcat   200 non-null    float64
 27  churn     200 non-null    float64
dtypes: float64(28)
memory usage: 43.9 KB

In [5]:
df.describe()

           tenure         age     address  ...       lninc     custcat       churn
count  200.000000  200.000000  200.000000  ...  200.000000  200.000000  200.000000
mean    35.505000   41.165000   11.650000  ...    3.951015    2.475000    0.290000
std     21.640971   13.076803   10.158419  ...    0.752553    1.079445    0.454901
min      1.000000   19.000000    0.000000  ...    2.197000    1.000000    0.000000
25%     16.750000   31.000000    3.000000  ...    3.434000    2.000000    0.000000
50%     33.500000   40.000000    9.000000  ...    3.871000    2.000000    0.000000
75%     55.250000   51.000000   18.000000  ...    4.382000    3.000000    1.000000
max     72.000000   76.000000   48.000000  ...    7.419000    4.000000    1.000000

[8 rows x 28 columns]

In [ ]:
# Coming soon ...